@model SportsStore.Domain.Entities.Product
<div class="item">
    @if (Model.ImageData!=null)
    {
        <div>
            <img width="150" height="150" alt="Img" src="@Url.Action("GetImage", "Product", new { Model.ProductId})" />
        </div>
    }
    <h3>@Model.Name</h3>
    @Model.Description
    @using (Html.BeginForm("AddToCart", "Cart")) { 
        @Html.HiddenFor(x=>x.ProductId)
        @Html.Hidden("returnUrl",Request.Url.PathAndQuery)
        <input type="submit" value="+ Add to cart"/>
    }
    <h4>@Model.Price.ToString("c")</h4>
</div>
